*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER*/
header{
    background-color: #255EE9;
    padding: 10px 0px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 100px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column-60{
    width: 60%;
    text-align: center;
    color: white;
}

.column-20{
    width: 20%;
}

header ul{
    list-style-type: none;
}

header li{

    display: inline-block;
    margin: 0px 10px;
}

header button{
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.left{
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    justify-content: right;
    align-items: center
}

.vertical_centering{
    padding: 20px 0px;
}

.dashed_border{
    border: 1px dashed black;
}

/* Primo Container Main*/
.background_blue{
    background-color: blue;
}

.column-100{
    width: 100%;
    height: 400px;
    background-color: plum;
}

.first-block_padding{
    padding: 30px 120px;
}


/* Container Centrali Main*/
.column-70{
    width: 70%;
}

.column-30{
    width: 30%;
}

.column-70, .column-30{
    height: 400px;
    margin: 30px 0px;
}

.background_pink{
    background-color: pink;
}

.background_skyblue{
    background-color: skyblue;
}

.background_grey{
    background-color: lightslategray;
}

.order_two{
    order: 2;
}


/* Quinto Container Main */
.column_100{
    width: 100%;;
    height: 800px;
    background-color: darkgreen;
    margin: 30px 0px;
}


/* Primo Container Footer */
.background_oxidian{
    background-color: #282828;
    border-bottom: 1px solid white;
}

.column-pink{
    width: 40%;
    background-color: hotpink;
    border: 2px dashed black;
}

.column-aqua{
    width: 15%;
    background-color: aqua;
    border: 2px dashed white;
}

.column-pink, .column-aqua{
    height: 600px;
    margin: 30px 0px;
}


/* Secondo Container Footer */
.column_full{
    width: 100%;
    padding: 10px 0px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between
}

.box_footer{
    padding: 5px 10px;
    font-size: 15px;
    background-color: lightcoral;
}